{% extends 'website/includes/base.html' %}

{% block title %}
    Partie en cours de création
{% endblock %}

{% block header %}{% endblock %}

{% block css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document)
            .ready(function () {
                $('#id_name').attr('placeholder', 'Saisissez un nom');
                $('.ui.dropdown').dropdown();
            });
    </script>
{% endblock %}

{% block content %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            {# Liste des joueurs #}
            {% for player in player_list %}
                <div class="ui info message">
                    <div class="header">
                        {{ player.name }}
                    </div>
                </div>
            {% endfor %}
            <form class="ui fluid form" method="post">
                {# Ajout d'un nouveau joueur #}
                <div class="ui raised segment">

                    {% csrf_token %}
                    <div class="ui fluid action input">
                        <input name="name" type="text">
                        <div class="ui compact selection dropdown">
                            <input name="gender" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                                {% for gender in genders %}
                                    <div class="item" data-value="{{ gender.0 }}">
                                        {{ gender.1 }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="ui blue right icon submit button">
                            <i class="plus icon"> </i>
                        </button>
                    </div>

                </div>
                <div class="ui raised segment">
                    {# List of tags #}
                    <div class="ui fluid multiple search selection tags dropdown">
                        <input name="tags" type="hidden">
                        <a class="dropdown icon"></a>
                        <div class="default text">
                            Sélectionnez les tags à inclure
                        </div>
                        <div class="menu">
                            {% for tag in tag_list %}
                                <div class="item" data-value="{{ tag.id }}">{{ tag.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {# End of list #}
                </div>
            </form>

            {% if integrity_error %}
                <div class="ui error message">
                    {{ integrity_error }}
                </div>
            {% endif %}

            <div class="ui divider"></div>

            {# Lancement de la partie #}
            <a class="ui large blue fluid button" href="{% url 'website:playing' current_game.id %}">
                Lancer la partie
            </a>

        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}