{% extends 'website/includes/base.html' %}

{% block title %}
    Partie en cours
{% endblock %}

{% block header %}{% endblock %}

{% block css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui raised segment">
                <h1>{{ activity }}</h1>
            </div>
            <a class="ui large fluid blue button" href="{% url 'website:playing' current_game.id %}">
                Suivant
            </a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}